{% extends "base.html" %} {% block content %}
<h1>Amend Recipe Page</h1>
<ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipe_lists %}
        <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
                    <a href="{{url_for('get_editrecipes', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    
                </div>
                <div class=" task_header col s9">
                    <strong>{{recipe.recipe_name}}</strong>
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                <p>this is a test of the collapsible</p>
            </span>
            </div>
        </li>
        {% endfor %}

    </ul>
{% endblock %}