<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@300;500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <nav class="nav-extended Nav_Container">
        <div class="nav-wrapper row">
          <a href="{{url_for('get_homepage')}}" class="col s12 Nav_Header"
            >Lozzy's Lovely Recipes</a
          >
        </div>
        <div class="nav-wrapper Nav_Bottom">
          <a data-activates="mobile-demo" class="button-collapse"
            ><i class="material-icons">menu</i></a
          >
          <ul id="nav-mobile" class="row hide-on-med-and-down">
            <li class="col s3">
              <a href="{{url_for('get_homepage')}}" class="Nav_Options">Home</a>
            </li>
            <li class="col s3">
              <a href="{{url_for('get_recipes')}}" class="Nav_Options"
                >Recipes</a
              >
            </li>
            <li class="col s3">
              <a href="{{url_for('get_addrecipes')}}" class="Nav_Options"
                >Add Recipes</a
              >
            </li>
            <li class="col s3">
              <a href="{{url_for('get_amendrecipes')}}" class="Nav_Options"
                >Amend Recipes</a
              >
            </li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="">Menu</li>
            <li>
              <a href="{{url_for('get_homepage')}}" class="Nav_Options">Home</a>
            </li>
            <li>
              <a href="{{url_for('get_recipes')}}" class="Nav_Options"
                >Recipes</a
              >
            </li>
            <li>
              <a href="{{url_for('get_addrecipes')}}" class="Nav_Options"
                >Add Recipes</a
              >
            </li>
            <li>
              <a href="{{url_for('get_amendrecipes')}}" class="Nav_Options"
                >Amend Recipes</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".collapsible").collapsible();
        $("select").material_select();
        $(".button-collapse").sideNav();
      });
    </script>
  </body>
</html>
