<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
    />
  </head>

  <body>
    <header>
      <nav class="nav-extended">
        <div class="nav-wrapper row">
          <a href="{{url_for('get_homepage')}}" class=" col s12">Lozzy's Lovely Recipes</a>
        </div>
        <div class="nav-wrapper">
          <a data-activates="mobile-demo" class="button-collapse"
            ><i class="material-icons">menu</i></a
          >
          <ul id="nav-mobile" class="row hide-on-med-and-down">
            <li class="col s3"><a href="{{url_for('get_homepage')}}">Home</a></li>
            <li class="col s3"><a href="{{url_for('get_recipes')}}">Recipes</a></li>
            <li class="col s3"><a href="{{url_for('get_addrecipes')}}">Add Recipes</a></li>
            <li class="col s3"><a href="{{url_for('get_amendrecipes')}}">Amend Recipes</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li class="">Menu</li>
            <li><a href="{{url_for('get_homepage')}}">Home</a></li>
            <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
            <li><a href="{{url_for('get_addrecipes')}}">Add Recipes</a></li>
            <li><a href="{{url_for('get_amendrecipes')}}">Amend Recipes</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $(".collapsible").collapsible();
        $("select").material_select();
      $(".button-collapse").sideNav();
      });
    </script>
  </body>
</html>