{% extends "base.html" %} {% block content %}
<h1>Edit Page</h1>
    <form action="{{ url_for('update_recipe', recipe_id=recipe._id) }}" class="col s12" method="POST">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">subject</i>
      <textarea
        name="recipe_name"
        id="recipe_name"
        class="materialize-textarea"
        value="{{recipe.recipe_name}}"
      >{{recipe.recipe_name}}</textarea>
      <label for="icon_telephone">Add Recipe</label>
    </div>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light" type="submit">
      Add Recipe
      <i class="material-icons right">playlist_add</i>
    </button>
  </div>
</form>
{% endblock %}