{% extends "base.html" %} {% block content %}
<h1 class="page-title">Edit Page</h1>

<div class="container form-style">
  <div class="row">
    <form
      action="{{ url_for('update_recipe', recipe_id=recipe._id) }}"
      class="col-12"
      method="POST"
    >
      <div class="input-field col s12">
        <input
          placeholder="Recipe Name"
          id=""
          name="recipe_name"
          type="text"
          class="validate"
          value="{{recipe.recipe_name}}"
        />
      </div>
      <div class="input-field col s6">
        <select name="level">
          <option value="" disabled selected>Choose your difficulty</option>
          {% for diff in difficulty %} {% if diff.level == recipe.level %}
          <option value="{{diff.level}}" selected>{{diff.level}}</option>
          {% else %}
          <option value="{{diff.level}}">{{diff.level}}</option>
          {% endif %} {% endfor %}
        </select>
      </div>

      <div class="input-field col s6">
        <select name="ptime">
          <option value="" disabled selected>Time to Prep</option>
          {% for prep in prep_time %} {% if prep.ptime == recipe.ptime %}
          <option value="{{prep.ptime}}" selected>{{prep.ptime}}</option>
          {% else %}
          <option value="{{prep.ptime}}">{{prep.ptime}}</option>
          {% endif %} {% endfor %}
        </select>
      </div>
      <div class="input-field col s6">
        <select name="time">
          <option value="" disabled selected>Time to Cook</option>
          {% for cook in cook_time %} {% if cook.time == recipe.time %}
          <option value="{{cook.time}}" selected>{{cook.time}}</option>
          {% else %}
          <option value="{{cook.time}}">{{cook.time}}</option>
          {% endif %} {% endfor %}
        </select>
      </div>
      <div class="input-field col s6">
        <select name="num">
          <option value="" disabled selected>Serves up to</option>
          {% for serve in serves %} {% if serve.num == recipe.num %}
          <option value="{{serve.num}}" selected>{{serve.num}}</option>
          {% else %}
          <option value="{{serve.num}}">{{serve.num}}</option>
          {% endif %} {% endfor %}
        </select>
      </div>
      <div class="input-field col s6">
        <select name="name">
          <option value="" disabled selected>Dietary Requirements</option>
          {% for diet in diets %} {% if diet.name == recipe.name %}
          <option value="{{diet.name}}" selected>{{diet.name}}</option>
          {% else %}
          <option value="{{diet.name}}">{{diet.name}}</option>
          {% endif %} {% endfor %}
        </select>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <textarea rows="6" class="materialize-textarea" name="tools">
{{recipe.tools}}</textarea
        >
        <label class="label-style">Cooking Utensils</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <textarea rows="6" class="materialize-textarea" name="ingredients">
{{recipe.ingredients}}</textarea
        >
        <label class="label-style">Ingredients</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <textarea rows="6" class="materialize-textarea" name="method">
{{recipe.method}}</textarea
        >
        <label class="label-style">How to Cook</label>
      </div>
        <div class="col s12 button-padding">
          <button class="btn waves-effect waves-light" type="submit">
            Add Recipe
            <i class="material-icons right">playlist_add</i>
          </button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
